<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookshare">

    <!-- Permissions must be asked for, while using for android 6 and above -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <!-- Camera is not a necessity, but if present and given permission to use, one can scan barcode to upload a book -->
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />

    <application
        android:name="com.example.bookshare.application.BookShareApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true">
        <activity
            android:name="com.example.bookshare.activities.SearchBookActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.bookshare.activities.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.bookshare.activities.SplashActivity"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bookshare.activities.MainScreenActivity"
            android:theme="@style/ThemeWithTranslucentStatusBar" />
        <activity
            android:name="com.example.bookshare.activities.UploadBookActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.example.bookshare.activities.AboutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.bookshare.activities.UploadedBookActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.bookshare.activities.MessagesNamesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.bookshare.activities.BookDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.bookshare.activities.BookConditionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.bookshare.activities.ConfirmUploadActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.bookshare.activities.MessagesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.bookshare.activities.FindBookInFriendActivity"
            android:theme="@style/AppTheme"/>

        <!-- Provider for loading data from local storage -->
        <provider
            android:name="com.example.bookshare.contentprovider.UploadedBookProvider"
            android:authorities="com.example.bookshare.contentprovider"
            android:exported="true" />


        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

    </application>

</manifest>
